<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.weichao.summary1704">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">
        <activity
            android:name="io.weichao.summary1704.activity.SplashActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.weichao.summary1704.activity.MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="io.weichao.summary1704.activity.ExhibitActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="io.weichao.summary1704.activity.ImageActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="io.weichao.summary1704.activity.VideoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="io.weichao.summary1704.activity.GIFActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="io.weichao.summary1704.activity.CompassActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="io.weichao.summary1704.activity.EarthMoonActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="io.weichao.summary1704.activity.FaceDetectionActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="io.weichao.summary1704.activity.AR3DActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>